.contact {
    margin-left: 500px;
    width : 30vw;
    display : flex;
    flex-direction: column;
    @media screen and (max-width: 800px) {
        margin-left: 55px;
        width: 65vw;
      }

    .title {
        margin : 10px 0;
    }

    .buttons {
        display: flex;
        justify-content: space-between;

    }
}